SIF
CNN-JEPA/jepa-cnn/
ijepa-main/ijepa-env/
ijepa-main/logs/
SegmentationAwareGen
*.ckpt
__pycache__
*.pyc
*.pkl
*.pth
*.h5
*.ckpt
*.log
*.csv
*.tsv
*.json
*.xlsx
*.zip
*.tar.gz
*.out
*.err
*.aux
*.log
*.toc
*.gz
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.run.xml
*.pdf
*.dvi
*.ps
*.eps
*.class
*.jar
*.war
*.ear
*.iml
.idea/
.vscode/
.DS_Store
thumbs.db
*.swp
*~
*.tmp
*.bak
venv/
.venv/
env/
ENV/
**/venv/
**/.venv/
**/env/
**/ENV/
*.png
*.tar
**/events.out.tfevents*
**/tfevents*
**/*.log
**/log.txt
*metric-fid50k_full.jsonl
*stats.jsonl
*metric*.jsonl
*.npy
*.npz
*.github/